:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #666666;
  --color-black-20: #00000033;
  --color-black-10: #0000001a;
  --color-black-60: #00000099;
  --color-light-gray: #f0f0f0;
  --color-light-white: #f8f8f8;
  --color-very-light-gray: #fafafa;
  --text-2xl: 24px;
  --text-lg: 18px;
  --text-base: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
}
